@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Lora&family=Playfair+Display&display=swap');
@font-face {
    font-family: elnath;
    /* for bigger heading */
    src: url(/Users/sumitkaranjekar/code/portfolioo/elnath/ELNATH.ttf);
}
@font-face {
    font-family: robtronika; 
    /* for some heading little */
    src: url(/Users/sumitkaranjekar/code/portfolioo/robtronika-font/Robtronika-4Bq8p.ttf);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

#home-page{
    height: 100vh;
    background: rgb(33, 33, 33);
}
nav{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: none;
}
.menu{
    width: 24px;
    cursor: pointer;
    position: relative;
}
.logo p{
    font-size: 20px;
    color: #ff3c3c;
    font-family: robtronika;
    cursor: pointer;
}
.nav-links{
    display: flex;
}
.nav-links li{
    letter-spacing: 2px;
    list-style: none;
    margin: 2vw;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}
.nav-links li a{
    text-decoration: none;
    color: white;
}
.nav-links li a:hover{
    color: #ff3c3c;
    text-decoration: line-through;
} #social img{
    display: none;
}
#social{
    display: flex;
}
#social a{
    display: flex;
    align-items: center;
}
#social a img{
    height: 35px;
}
#social a img:hover{
    border: solid black 2px;
}
.head{
    padding: 5vw 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text h1{
    font-size: 1cm;
    color: rgb(221, 221, 221);
    line-height: 2cm;
}
.text p{
    font-family: robtronika;
    color: #ff3c3c;
    font-size: 20px;
}
.text span1{
    font-size: 1.2cm;
    font-family: elnath;
}
.text h1 span{
    font-family: elnath;
    font-size: 2cm;
}
.img{
    margin: 30px 30px 10px 30px;
    background-color: #ff3c3c;
    border-start-end-radius: 55px;
    width: 50vh;
}
.img img{
    width: 100%;
    height: 100%;
    position: relative;
}
.bio{
    position: absolute;
}
.bio h2{
    font-size: 2pc;
    font-family: robtronika;
    margin: 10px;
}

/* WORKWORKWORKWORKWORKWORK */
#work-page{
    height: 100%;
    padding: 40px 0px;
    border-bottom: solid black 3px;
}
#work-page h2{
    padding: 60px 0 0 3vw;
    font-family: robtronika;
    font-size: 30px;
    color: #ff3c3c;
}
#work-page p{
    margin: 30px 6vw 30px 6vw;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-45%);
    }
}
@keyframes pslide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-1820px);
    }
}
@keyframes vslide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

.logos{ 
    overflow: hidden;
    display: grid;
    grid-row: inherit;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.logos h4{
    margin: 25px 0 10px 2vw;    
    font-family: elnath;
    font-size: 25px;
    color: #ff3c3c;
}
.logos-slide{
    margin-bottom: 3vw;
    padding: 50px;
    border: solid black 1px;
    display: flex;
    align-items: center;
}
.website{
    animation: 10s slide infinite linear;
}
.photo{
    animation: 5s pslide infinite linear;
}
.video{
    animation: 7.5s vslide infinite linear;
}
.logos::after,
.logos::before{
    position: absolute;
    width: 50px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    content: "";
    z-index: 2;
}
.logos::before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}
.logos::after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}
.video:hover,
.photo:hover, 
.website:hover{
    animation-play-state: paused;
}
.logos-slide a h3{
    text-decoration: none;
    font-family: elnath;
    font-size: 40px;
    color: black;
    margin: 0 25px;
}
.logos-slide a{
    text-decoration: none;
}
#shape{
    height: 100px;
    width: 200px;
    border: solid black 1px;
    border-radius: 50px;
    background: white;
    box-shadow: solid black 2px 8px 5px;
}

/* ABOUTABOUTABOUTABOUTABOUTABOUT */
#about-page{
    height: 100%;
    margin: 60px 0px;
}
#about-page h3{
    padding: 4vw 0 0 3vw;
    font-family: robtronika;
    font-size: 30px;
    color: #ff3c3c;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text{
    justify-content: start;
    height: 600px;
    padding: 20px;
    margin: 3vw;
    width: 45%;
    border: solid black 2px;
}
.about-text h2{
    font-family: elnath;
}
.skill{
    margin: 20px;
    display: flex;
}
.skill h4{
    margin: 0px 15px;
    color: #ff3c3c;
}
.about-img{
    background: #ff6e6e;
    margin: 0 15px;
    width: fit-content;
    border: solid black 2px;
}
.about-img img{
    width: 12cm;
}


/* FOR SMALL SCREENFOR SMALL SCREENFOR SMALL SCREENFOR SMALL SCREEN */

@media screen and (max-width:900px) {
    body{
        overflow-x: hidden;
    }
    .head{
        display: inline-block;
    }
    .text h1{
        font-size: 30px;
    }
    .text h1 span1{
        font-size: 32px;
    }
    .text h1 span{
        font-size: 40px;
    }
    .nav-links{
        position: absolute;
        justify-content: center;
        margin-top: 80vh;
        padding: 20vh 0 25vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ff3c3c;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        margin: 30px;
        opacity: 1;
    }
    .nav-links li a:hover{
        color: black;
        
    }
    .menu{
        display: block;
    }
    #social img{
        display: block;
        margin: 50px 15px 0 15px;
    }
    .img img{
        position: inherit;
        width: 10cm;
    }
    .bio{
        position: inherit;
    }
    .about{
        display: block;
    }
    .about-text{
        width: 85%;
    }
}

.nav-active{
    transform: translateX(0%);
}
